<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Todo</title>
</head>
    <body>
        <h1>Create New ToDo Page</h1>
        <form method="POST" action="/new_todo/submit">
            <dl>
                <dt>Title:</dt>
                <dd><input type="text" name="title"></dd>
                <dt>Content:</dt>
                <dd><input type="text" name="content"></dd>
            </dl>
            <p><input type="submit" name="submit" value="Submit"></p>
        </form>
    </body>
</html>
